html {
    font-size: 10px;
    background: url("bg.jpg") bottom center;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Merriweather', serif;
}

.main_title {
    font-family: 'Mrs Sheppards', cursive;
    text-align: center;
    font-size: 88px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 80px;
    color: white;
    letter-spacing: 3px;
}

.subtitle {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

.play_sound-wrapper {
  display: flex;
  justify-content: center;
}
button.play_sound-button {
    font-family: 'Merriweather', serif;
    width: 280px;
    height: 50px;
    margin: 45px auto 0;
    text-align: center;
    border: 2px solid white;
    background: border-box;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}

button.play_sound-button span {
  margin-right: 15px;
}
.keys {
    display: flex;
    flex: 1;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    cursor: pointer;
}

.key {
    display: table;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    text-align: center;
}

.white {
    margin: 0.05rem;
    border: .2rem solid rgb(100, 100, 100);
    width: 10rem;
    height: 40rem;
    color: white;
    background-image: radial-gradient(white, #fbf5ee);
    box-shadow: inset 0 0 2rem #303030;
    text-shadow: 0 0 0.5rem rgb(46, 30, 0);
    z-index: 1;
}

.black {
    position: absolute;
    border: .2rem solid rgb(0, 0, 0);
    width: 5rem;
    height: 23rem;
    color: white;
    background-image: radial-gradient(#5d5d5d, black);
    box-shadow: inset 0 0 0 0.1rem #ffffff70;
    text-shadow: 0 0 0.5rem rgb(7, 7, 7);
    z-index: 2;
}

.sharp-pos-top {
    margin-top: -9rem;
}

.c-sharp {
    margin-left: -35rem;
}

.d-sharp {
    margin-left: -23rem;
}

.g-sharp {
    margin-left: 11.5rem;
}

.a-sharp {
    margin-left: 23rem;
}

.playing-white {
    transform: scale(0.98);
    box-shadow: inset 0 0 2rem rgb(37, 28, 10);
    background-image: linear-gradient(#efeae5, #d2c6b8);
}

.playing-black {
    transform: scale(0.98);
    box-shadow: inset 0 0 0 0.1rem rgb(0, 0, 0);
    background-image: radial-gradient(black, #404040);
}

kbd {
    display: table-cell;
    vertical-align: bottom;
    font-size: 4rem;
}